# Compiled object files
*.slo
*.lo
*.o
*.obj

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Compiled static libraries
*.lai
*.la
*.a
*.lib

# Precompiled headers
*.gch
*.pch

# Executables
*.exe
*.out

# CMake build files
build/**
